body
{
    font-size: 22px;
    margin: 0;
    font-family: 'Comic Neue', cursive;
}
.banner
{
    width: 100%;
    height: auto;
    background-image: url(images/banner.jpg);
    background-position: center;
    background-size: cover;   
    background-attachment: fixed;
    display: block;
}
.banner h1
{
    padding-top: 15rem;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 70px;
    font-weight: 400;
    letter-spacing: 3px;
}
.banner p
{
    text-align: center;
    color: #e7e7e7;
    font-size: 28px;
}
.buttons
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding-bottom: 20%;
}
.banner .button
{
    display: inline-block;
    margin: 0 20px;
}
.banner .button a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #0389be;
    background-color: #0389be;
    padding: 15px 85px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    transition-duration: 0.2s;
}
.banner .button a:hover
{
    background-color: #25abdf;
    border: #25abdf 1px solid;
}
.banner .button2 
{
    display: inline-block;
    margin: 0 20px;
}
.banner .button2 a
{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #ffffff5d;
    padding: 15px 65px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    transition-duration: 0.2s;
}
.banner .button2 a:hover
{
    background-color: #ffffff1f;
}
.nav
{
    width: 100%;
    background-color: #fff;
    position: fixed;
    border-bottom: 1px solid #2020201c;
}
.nav h3
{
    display: inline-block;
    width: 30%;
    margin: 0;
    padding: 0;
    padding-left: 3%;
    font-size: 20px;
    color: #202020;
}
.menu
{
    display: inline-block;
    width: 65%;
    text-align: right;
    margin: 0;
    padding: 0;
    ;
}
.menu p
{
    display: inline-block;
    padding: 15px 10px;
    margin: 0;
    font-size: 20px;
}
.menu p a 
{
    text-decoration: none;
    color: #202020;
    font-weight: 300;
}
.menu p a:hover
{
    color: #25abdf;
}
.menu .button
{
    display: inline-block;
}
.menu .button a
{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    border: solid 1px #0389be;
    background-color: #0389be;
    padding: 5px 15px;
    border-radius: 5px;
    transition-duration: 0.2s;
    margin: 0;
}
.menu .button a:hover
{
    background-color: #25abdf;
    border: #25abdf 1px solid;
}
.banner h1
{
    margin: 0;
}
.one
{
    margin: 0;
    margin-top: 7%;
}
.one h1
{
    color: #707070;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}
.one p
{
    color: #838383;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
}
.about
{
    width:1320px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5%;
}
.zdj
{
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    margin-top: 30px;

}
.zdj1
{
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    margin-top: 30px;

}
.zdj2
{
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    margin-top: 30px;

}
.content1
{
    width: 394px;
    float: left;
    margin: 20px;
    border: 1px solid #57565638;
}
.content1 h3
{
    text-align: center;
    font-weight: 300;
}
.content1 p
{
    padding: 0 15%;
    padding-bottom: 10%;
    font-size: 20px;
}
.two
{
    background-color: #1b191f;
    
}
.container
{
    width: 1480px;
    margin-left: auto;
    margin-right: auto;
}
.content2
{
    width: 680px;
    float: left;
    margin: 30px;
}
.two h1
{
    padding-top: 6rem;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    letter-spacing: 4px;
}
.two p
{
    font-weight: 300;
    text-align: center;
    color: #838383;
    font-size: 25px;
}
.content2 h4
{
    text-align: center;
    color: #fff;
    font-weight: 300;
}
.content2 p
{
    font-size: 20px;
    padding: 0 5%;
    text-align: center;
    color: #838383;
}
.button3
{
    text-align: center;
    padding: 5% 0;
}
.button3 a
{
    text-decoration: none;
    color: #fff;
    border: #ffffff46 1px solid;
    padding: 2% 6%;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    transition-duration: 0.2s;
}
.button3 a:hover
{
    background-color: #ffffff1a;
}
img
{
    max-width: 100%;
    width: auto;
    height: auto;
}
@media screen and (max-width: 1500px)
{
    .container
    {
        width: 1200px;
    }
    .content2
    {
        width: 540px;
    }
    
}
@media screen and (max-width: 1300px)
{
    .about
    {
        width: 900px;
    }
    .content1
    {
        width: 280px;
        margin: 5px;
    }
}
@media screen and (max-width: 1200px)
{
    .container
    {
        width: 900px;
    }
    .content2
    {
        width: 410px;
        margin: 20px;
    }
}
@media screen and (max-width: 900px)
{
    .menu .button
    {
        display: none;
    }
    .menu p
    {
        font-size: 15px;
    }
    .nav h3
    {
        font-size: 18px;
    }
    .container
    {
        width: 600px;
    }
    .content2
    {
        width: 600px;
        margin: 5% 0;
    }
    .about
    {
        width: 600px;
    }
    .content1
    {
        width: 600px;
        margin: 5% 0;
    }
}
@media screen and (max-width: 600px)
{   
    
    .nav h3
    {
        width: 10%;
        font-size: 16px;
    }
    .menu
    {
        width: 85%;
    }
    .menu p 
    {
        font-size: 14px;
        padding: 10px 0px;
        margin: 0;
    }
    .banner h1
    {
        font-size: 50px;
    }
    .banner p
    {
        font-size: 20px;
    }
    .buttons
    {
        width: 85%;
    }
    .banner .button a
    {
        padding: 6% 35px;
    }   
    .banner .button2 a
    {
        padding: 6% 20px;
    } 
    .container
    {
        width: 90%;
    }
    .content2
    {
        width: 100%;
        margin: 2% 0;
    }
    .about
    {
        width: 90%;
    }
    .content1
    {
        width: 100%;
        margin: 2% 0;
    }
}
@media screen and (max-width: 470px)
{
    .banner h1 
    {
        padding-top: 8rem;
    }
    .banner p 
    {
        padding: 0 5%;
    }
    .one h1
    {
        font-size: 30px; 
    }
    .one p 
    {
        font-size: 18px;
        padding: 0 5%;
    }
    .two h1 
    {
        padding-top: 3rem;
        font-size: 35px;
    }
    .buttons
    {
        width: 100%;
        padding-bottom: 25%;
    }
    .banner .button a
    {
        padding: 6% 15px;
    }
    .banner .button2 a
    {
        padding: 6% 12px;
    }
}
.three
{
    width: 1420px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}
.screen
{
    width: 818px;
    float: left;
    margin: 50px;
}
.screen h3
{
    font-size: 28px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 4px;
}
.screen p 
{
    color: #838383;
    font-size: 20px;
    text-align: left;
}
.screen2
{
    width: 400px;
    float:left;
    margin: 50px;
}
.screen2 h3 
{
    font-size: 28px;
    color: #838383;
    font-weight: 400;
    letter-spacing: 4px;
}
.screen2 p 
{
    color: #838383;
    font-size: 20px;
    text-align: left;
}
.button4
{
    padding: 30px 0;
    border-bottom: 1px solid #83838350;
    padding-bottom: 15%;
}
.button4 a 
{
    text-decoration: none; 
    color: #838383;
    border: 1px solid #83838398;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition-duration: 0.2s;
}
.button4 a:hover
{
    background-color: #83838317;
}
.screen2 p a 
{
    color: #0389be;
    text-decoration: none;
    border-bottom: 1px solid #0389beb0;
    transition-duration: 0.2s;
}
.screen2 p a:hover 
{
    border-bottom: none;
    color: #25abdf;
}
.allfoots
{
    width: 1600px;
    margin-right: auto;
    margin-left: auto;
}
.bigfoot
{
    background-color: #f7f7f7;
    width: 100%;
}
.bigfinger
{
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.foot
{
    float: left;
    width: 800px;
    
}
.finger
{
    float: left;
    margin: 50px;
}
.finger h4 
{
    color: #838383;
    font-weight: 400;
    letter-spacing: 3px;
}
.finger p 
{
    font-size: 20px;
    padding: 5px 0;
}
.finger p a 
{
    text-decoration: none;
    border-bottom: 1px solid #838383cb;
    color: #838383;
}
.finger p a:hover 
{
    color: #949494;
    border-bottom: none;
}
.foot2
{
    float: left;
    width: 800px;
}
.foot2 h4 
{
    color: #838383;
    font-weight: 400;
    padding-top: 50px;
    padding-left: 50px;
    font-size: 27px;
    letter-spacing: 3px;
}
.foot2 p 
{
    font-size: 21px;
    color: #838383;
    text-align: left;
    padding: 0 50px;
}
.social
{
    width: 400px;
    padding-left: 30px;
}
.fb
{
    float: left;
    margin: 0;
    padding: 10px;
}
.yt
{
    float: left;
    margin: 0;
    padding: 10px;
}
.tw
{
    float: left;
    margin: 0;
    padding: 10px;
}
.gplus
{
    float: left;
    margin: 0;
    padding: 10px;
}
.mainfoot
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.ft
{
    float: left;
    padding: 10px;
    border-right: 1px solid #83838377;
    color: #838383;
    margin-bottom: 100px;
}
.ft a 
{
    color: #838383;
    text-decoration: none;
    border-bottom: 1px solid #83838385;
}
.ft a:hover 
{
    color: #969696;
    border: none;
}
.ft:first-child
{
    border-left: 1px solid #83838377;
}
@media screen and (max-width: 1600px)
{
    .allfoots
    {
        width: 1300px;
    }
    .foot
    {
        width: 650px;
    }
    .foot2 
    {
        width: 650px;
    }
}
@media screen and (max-width: 1400px)
{
    .three 
    {
        width: 1000px;
    }
    .screen
    {
        width: 500px;
    }
    .screen p 
    {
        font-size: 18px;
    }
    .screen2 
    {
        width: 300px;
    }
    .screen2 p 
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 1300px)
{
    .allfoots
    {
        width: 1000px;
    }
    .foot
    {
        width: 500px;   
    }
    .foot p 
    {
        font-size: 18px;
    }
    .foot2
    {
        width: 500px; 
    }
    .foot2 p 
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 1000px)
{
    .three
    {
        width: 600px;
    }
    .screen
    {
        width: 600px;
        margin: 0;
    }
    .screen2 
    {
        width: 600px;
        margin: 0;
    }
    .allfoots
    {
        width: 600px;
    }
    .foot 
    {
        width: 600px;
        margin: 0;
    }
    .foot2
    {
        width: 600px;
        margin: 0;
    }
    .bigfinger 
    {
        width: 600px;
        margin: 0;
    }
    .finger
    {
        margin: 10%;
    }
    .mainfoot 
    {
        width: 600px;
        font-size: 18px;
    }
    
    @media screen and (max-width: 600px)
    {
        .three
        {
            width: 90%;
        }
        .screen
        {
            width: 100%;
            margin: 0;
        }
        .screen2 
        {
            width: 100%;
            margin: 0;
        }
        .allfoots
        {
            width: 90%;
        }
        .foot
        {
            width: 100%;
            margin: 0;
        }
        .foot2
        {
            width: 100%;
            margin: 0;
        }
        .bigfinger
        {
            margin-left: auto;
            margin-right: auto;
            width: 300px;
        }
        .mainfoot
        {
            width: 250px;
            text-align: left;
            margin: 0;
        }
        .ft:first-child
        {
            border: none;
        }
        .ft 
        {
            border: none;
            margin: 0;
            font-size: 16px;
        }
        .social
        {
            width: 300px;
        }
    }
}